
$color-primary-0: #6E256E;	// Main Primary color */
$color-primary-1: #8A898A;
$color-primary-2: #7C537C;
$color-primary-3: #610061;
$color-primary-4: #530053;

$color-secondary-1-0: #609732;	// Main Secondary color (1) */
$color-secondary-1-1: #BCBDBC;
$color-secondary-1-2: #8BAA71;
$color-secondary-1-3: #3C8400;
$color-secondary-1-4: #337100;

$color-secondary-2-0: #AA9F38;	// Main Secondary color (2) */
$color-secondary-2-1: #D4D4D3;
$color-secondary-2-2: #BFB97F;
$color-secondary-2-3: #948700;
$color-secondary-2-4: #7F7400;


nav {
  font-family: 'Spectral SC', serif;
  background: white;
  color: $color-primary-0;
  margin: 0 0 0 20px;
}

main {
  h2 {
    font-family: 'Spectral SC', serif;
    color: $color-secondary-1-0;
    text-align: center;
  }
  h3 {
    font-family: 'Spectral SC', serif;
    color: $color-secondary-2-0;
  }
}

section {
  h2 {
    font-family: 'Spectral SC', serif;
    color: $color-secondary-1-0;
    text-align: center;
  }
}

footer {
  text-align: center;
  margin: 5em 0 0 0;
  font-family: 'Open Sans', sans-serif;
  small {
    color: $color-primary-2;
    font-size: 100%;
  }
}

a {
  text-decoration: none;
  color: $color-primary-0;
  h1, i {
    color: $color-primary-0;
  }
}


p {
  font-family: 'Open Sans', sans-serif;
  color: $color-primary-2;
}

.indexContainer {
  display: flex;
  justify-content: space-around;
  img {
    height: 20em;
    margin: 20px 20px;
    border-radius: 5px;
  }
  h2 {
    margin: 10px 0 -15px 0;
    font-size: 115%;
  }
  text-align: center;
}


.indexDivBooks {
  transition: .7s;
}
.indexDivBooks:hover, .indexDivAuthors:hover {
  border-radius: 5px;
  background: #8BAA71;
  
  h2 {
    color: white;
  }
}

//books page classes
.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.eachBook {
  display: flex;
  flex-direction: row;
  width: 40%;
  text-align: center;
  background: #f6f6f6;
  margin: 0px 30px 20px 30px;
  border-radius: 5px;
  p {
    font-size: 75%;
    margin: 5px 0px;
  }
  h3 {
    margin: 5px 0px;
  }
  img {
    height: 150px;
    margin: 10px 10px;
    transition: 0.5s;
  }
  img:hover {
    transform:scale(0.95)
  }
  i {
    margin: 5px 5px;
  }
}

.eachBook:hover {
  display: flex;
  flex-direction: row;
  width: 40%;
  text-align: center;
  background: #8bAA71;
  margin: 0px 30px 20px 30px;
  border-radius: 5px;
  p {
    font-size: 75%;
    margin: 5px 0px;
    color:#F6f6f6;
  }
  h3 {
    margin: 5px 0px;
    color: white;
  }
  img {
    height: 150px;
    margin: 10px 10px;
  }
}

.booksDetails {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

//add book page
.mainBook {
  text-align: center;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 25% 0 25%;
  label {
    font-family: 'Open Sans', sans-serif;
    color: $color-primary-2;
    margin: 5px 5px;
    border-radius: 3px;
  }
  input, textarea {
      border: solid 1px lightgray;
      border-radius: 3px;
      font-family: 'Open Sans', sans-serif;
      color: $color-primary-2;
      margin: 5px 5px;
  }
  button {
    background: $color-secondary-1-0;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 150%;
  }
  button:hover {
    background: $color-secondary-1-2;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 150%;
  }
}

//delete book page

.deleteButtonDiv {
  display: flex;
  justify-content: center;
}

form {
.deleteButton {
    background: $color-secondary-1-0;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 150%;
  }
  .deleteButton:hover {
    background: $color-secondary-1-2;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 150%;
  }
}

//edit book page

.editBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 10% 0 10%;
  label {
    font-family: 'Open Sans', sans-serif;
    color: $color-primary-2;
    margin: 5px 5px;
    border-radius: 3px;
  }
  input, textarea {
      border: solid 1px lightgray;
      border-radius: 3px;
      font-family: 'Open Sans', sans-serif;
      color: $color-primary-2;
      margin: 5px 5px;
  }
  button {
    background: $color-secondary-1-0;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 150px;
    border-radius: 3px;
    font-size: 150%;
    
  }
  button:hover {
    background: $color-secondary-1-2;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 150px;
    border-radius: 3px;
    font-size: 150%;
  }
}