<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Add an Author</title>
</head>
<body>
  <nav>
    <div>
      <a href='/'>
      <h1><i class="fa fa-book" aria-hidden="true"></i> Tech Reads</h1>
      </a>
      <a href="/authors"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class='subnav'>
      <a href="/authors">
        <button>Authors <i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
      </a> 
      <a href="/books">
        <button>Books <i class="fa fa-bookmark" aria-hidden="true"></i></button>
      </a>
    </div>
  </nav>
  
  <main class = 'mainBook'>
    <h3>Add an Author</h3>
    <form class= 'addBookForm' method='post' action="/authors/new">
      <label for="firstName">First Name</label>
      <input type="text" name='firstName' required='required'>
      <label for="lastName">Last Name</label>
      <input type="text" name='lastName' required='required'>
      <label for="portraitURL">Portrait URL</label>
      <input type="url" name='portraitURL' required='required'>
      <label for="biography">Biography</label>
      <textarea name="biography" cols="30" rows="10" required='required'></textarea>
      <button type='submit'>Add Author</button>
    </form>
  </main>
  <footer>
    <small>&copy; Cole Carroll 2017 <a href="https://github.com/colecarroll"><i class="fa fa-github" aria-hidden="true"></i></a>
    </small>
  </footer>
</body>
</html>