<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Add a Book</title>
</head>
<body>
  <nav>
    <a href='/'>
      <h1><i class="fa fa-book" aria-hidden="true"></i> Tech Reads</h1>
    </a>
  </nav>
  <main class = 'mainBook'>
    <h3>Add a Book</h3>
    <form class= 'addBookForm' method='post' action="/books/new">
      <label for="title">Title</label>
      <input type="text" name='bookTitle' required='required'>
      <label for="genre">Genre</label>
      <input type="text" name='bookGenre' required='required'>
      <label for="bookCoverURL">Book Cover URL</label>
      <input type="text" name='bookCoverURL' required='required'>
      <label for="bookDescription">Book Description</label>
      <textarea name="bookDescription" cols="30" rows="10" required='required'></textarea>
      <button type='submit'>Add Book</button>
    </form>
  </main>
  <footer>
    <small>&copy; Cole Carroll 2017 <a href="https://github.com/colecarroll"><i class="fa fa-github" aria-hidden="true"></i></a>
    </small>
  </footer>
</body>
</html>