<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Tech Reads: a library of tech authors and books</title>
</head>
<body>
  <nav>
    <a href='/'>
      <h1><i class="fa fa-book" aria-hidden="true"></i> Tech Reads</h1>
    </a>
  </nav>
  <main class='indexContainer'>
    <div class='indexDivAuthors'>
      <a href="/authors">
        <h2>Authors</h2>
        <img src="images/authors.jpg" alt="Authors">
      </a>
    </div>
    <div class='indexDivBooks'>
      <a href="/books">
        <h2>Books</h2>
        <img src="images/books2.jpg" alt="Books">
      </a>
    </div>
  </main>
  <footer>
    <small>&copy; Cole Carroll 2017 <a href="https://github.com/colecarroll"><i class="fa fa-github" aria-hidden="true"></i></a>
    </small>
  </footer>
</body>
</html>